body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'pixelated', sans-serif;
}

canvas {
    border: none;
    animation: scrollGround 5s linear infinite; /* Adjust animation duration as needed */
    background-image: url('assets/ground_texture.png');
    background-repeat: repeat-x;
    background-position: 0 bottom;
}

@keyframes scrollGround {
    from {
        background-position: 0 bottom;
    }
    to {
        background-position: -896% bottom;
    }
}

@font-face {
    font-family: 'pixelated';
    src: url('assets/pixelated.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

#titleImage {
    position: absolute;
    top: 250px; /* Adjust the top distance to position the title image directly above the canvas */
    left: 50%;
    transform: translateX(-75%);
    z-index: 1; /* Ensure the title image appears above other elements */
}

#titleImage img {
    width: 200px; /* Adjust the width of the title image */
    height: auto; /* Maintain aspect ratio */
}

#score {
    right: 10px; /* Adjust the right distance for the score */
}

#speed {
    right: 10px; /* Adjust the right distance for the speed */
    top: 40px; /* Adjust the top distance for the speed */
}